**/build/
/tests/**/build
/tests/**/output
/tests/failures

__pycache__
.hypothesis
.pytest_cache
example-starknet/Contract_abi.json
example-starknet/Contract_compiled.json
example-starknet/ExampleLib.cairo

